/*login and register eke kotuwa saha bluer kirima*/

.wrapper{
    margin-left: 25%;
    margin-top: 1%;
    width: 55%;
    padding: 40px 30px;
    position: relative;
    background: transparent;
    border:2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);   
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /*transform: scale(0);*/
    transition:transform .5s ease, height .2s ease;
 
}

.wrapper.active-popup{
    transform: scale(1);
}
.wrapper.active{
    height: 520px;
}

.wrapper .from-box{
    width: 100px;
    padding: 40px;
}
.wrapper .form-boxlogin{
   transition: transform .18s ease;
   transform: translateX(0);
}
.wrapper.active .form-boxlogin{
    transition: none;
    transform: translateX(-400px);
}
/*login and register close icon*/
.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}
.form-boxlogin h2 {
    font-size: 33px;
    font-weight: 750;
    margin-bottom: 20px;
    color: #141414;
    text-align: center;
}
.form-boxregister h2{
    font-size: 33px;
    font-weight: 750;
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}
.input-box{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-left: -2.5%;
}
.input-box label{
     position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
}


.input-box input:valid ~ label{
    opacity: 0;
}

.email input:focus ~ label{
    opacity: 0;
}
/*Text box*/
.input-box input{
    height: 100%;
    width: 330px;
    padding-left: 45px;
    font-size: 18px;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 15px;
    box-shadow: 0 - 30px rgba(0,0,0, .5);
}

.input-box1{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    margin-left: 2%;
    
}
.input-box1 label{
     position: absolute;
    top: 50%;
    left: 45px;
    pointer-events: none;
    color: #666666;
    transform: translateY(-50%);
}
.input-box1 input{
    height: 100%;
    width: 330px;
    padding-left: 45px;
    font-size: 18px;
    border: none;
    color: #595959;
    background: #dde1e7;
    border-radius: 15px;
    box-shadow: 0 - 30px rgba(0,0,0, .5);
}

.wrapper .input-box:nth-child(2){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(3){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(4){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(5){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(6){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(7){
    margin-top: 20px;
}
.wrapper .input-box:nth-child(8){
    margin-top: 20px;
}




.input-box .icon{
    position: absolute;
    left: 17px;
    line-height: 55px;
    color: #595959;
}
.input-box .icon-eye{
    position: absolute;
    margin: 17px;
    right: 1px;
    color: #595959;

}
#hide2{
    display: none;
}
#hide22{
    display: none;
}
#hide222{
    display: none;
}




.remember-forgot{
    text-align: left;
    margin: 10px 0 10px 5px;
}
.remember-forgot a{
    font-size: .9em;
    color: #aad8f7;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    margin: 10px 0;
    height: 50px;
    width: 100%;
    background: #121213;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #fff;             
}
.btn:hover {
    color: #04AA6D;
}

.login-register{
    text-align: left;
    margin: 10px 0 10px 5px;
}
.login-register a{
    font-size: .9em;
    color: #aad8f7;
    text-decoration: none;
}
.login-register p a:hover{
    text-decoration: underline;
}
.Login-register p{
    text-align: center;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 50;
}
.register-link{
    color: #aad8f7;
}
.Login-Link{
    color: #c0e2f8;
}

.remember-forgot label{
    font-size: .9em;
    color:  #aae8f7;
    text-decoration: none;
}
.Login{
    text-align: center;
    font-size: 16px;
}
.Login p{
  
    color: rgb(0, 0, 0);
}

.loginerror{
    background: red;
    text-align: center;
    color: white;
    margin-top: 4%;
    margin-bottom: 2%;
    padding: 5px;
}

.input-box2{
    font-size: 10px;
}

.LTICY {
    margin-top: 5%;
}
